<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Glider V3 Groundstation</title>

    <link href="{{ static_url("css/groundstation_base.css") }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <style>
    html,body
    {
      height: 100%;
    }
    </style>
  </head>
  <body>
  {% include "navbar.html" %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9 col-xs-12">
                {% block main %}No Content{% end %}
            </div>
            <div class="col-md-3 col-xs-12">
                {% block sidebar %}No Content{% end %}
            </div>
        </div>
    </div>

    <!-- Footer -->
    <hr>
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Dan Vagg 2017</p>
            </div>
        </div>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script  src="https://code.jquery.com/jquery-1.11.2.min.js"  integrity="sha256-Ls0pXSlb7AYs7evhd+VLnWsZ/AqEHcXBeMZUycz/CcA="  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="{{ static_url("threejs/three.min.js") }}"></script>
    <script src="{{ static_url("threejs/MTLLoader.js") }}"></script>
    <script src="{{ static_url("threejs/OBJMTLLoader.js") }}"></script>
    <script src="{{ static_url("threejs/OrbitControls.js") }}"></script>
    <script src="{{ static_url("threejs/stats.min.js") }}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-Knob/1.2.13/jquery.knob.min.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js"></script>

    <script src="{{ static_url("js/renderer.js") }}"></script>
    <script src="{{ static_url("js/glider.js") }}"></script>
    <script src="{{ static_url("js/images.js") }}"></script>
    <script src="{{ static_url("js/maps.js") }}"></script>


  </body>
</html>
