<h4>Wing Angles</h4>
<div class="row text-center">
    <div class="col-xs-6">
        <h5>Left</h5>
        <input type="text" value="0" class="dial" id="W_L" 
        data-angleArc="180" data-angleOffset="-180" data-fgColor="#44CCCC" data-max="180" data-cursor=5 data-thickness=.2>
    </div>
    <div class="col-xs-6">
        <h5>Right</h5>
        <input type="text" value="0" class="dial" id="W_R" 
        data-angleArc="180" data-angleOffset="0" data-fgColor="#44CCCC" data-max="180" data-cursor=5 data-thickness=.2>
    </div>
</div>