<style>
    #telemPacket dt {
        width: 70px;
    }

    #telemPacket dd {
        margin-left: 80px;
    }

</style>

<h4>Last telemetry packet:
    <small id="index"></small>
</h4>

<h4>Commands:
    <small id="command_recv"></small>
</h4>

<div id="telemPacket" style="color:#888">
    <div class="row text-center">
        <div class="col-xs-6">
            <h3>State: <span class="label label-success" id="STATE"></span></h3>
        </div>
        <div class="col-xs-6">
            <h3>Signal: <span class="text-info" id="SIGNAL"></span></h3>
        </div>
    </dl>

    <div class="col-xs-12" style="border: 1px solid orange; border-radius: 10px">
        <h4>GPS</h4>

        <dl class="dl-horizontal">
            <dt>HHMMSS:</dt>
            <dd id="hhmmss"></dd>
            <dt>Lat:</dt>
            <dd id="lat"></dd>
            <dt>Lon:</dt>
            <dd id="lon"></dd>
            <dt>Alt:</dt>
            <dd id="alt"></dd>
            <dt>Dilution:</dt>
            <dd id="gps_dil"></dd>
            <dt>Speed:</dt>
            <dd><span id="gps_heading_speed"></span>m/s</dd>
            <dt>Heading:</dt>
            <dd id="gps_heading_heading"></dd>
        </dl>
    </div>

    <div class="col-xs-12" style="border: 1px solid green; border-radius: 10px">
        <h4>Target</h4>
        <dl class="dl-horizontal">
            <dt>Lat:</dt>
            <dd id="lat_target"></dd>
            <dt>Lon:</dt>
            <dd id="lon_target"></dd>
            <dt>Heading:</dt>
            <dd id="H_H"></dd>
            <dt>Pitch:</dt>
            <dd id="H_P"></dd>
        </dl>
    </div>

    <div class="col-xs-12" style="border: 1px solid blue; border-radius: 10px">
        <dl class="dl-horizontal">
            <h4>Orientation</h4>
            <dt>Pitch:</dt>
            <dd id="O_P"></dd>
            <dt>Roll:</dt>
            <dd id="O_R"></dd>
            <dt>Yaw:</dt>
            <dd id="O_Y"></dd>
        </dl>
    </div>
</div>