<style>
  #telemPacket dt {
    width: 70px;
  }
  #telemPacket dd {
    margin-left: 80px;
  }
  
</style>

<h4>Last telemetry packet:</h4>
  <div id="telemPacket" style="color:#888">
    <dl class="dl-horizontal">
      <dt>State:</dt>
      <dd id="STATE"></dd>
      <hr/>
      
      <dt>HHMMSS:</dt>
      <dd id="hhmmss"></dd>
      <dt>Lon:</dt>
      <dd id="lon"></dd>
      <dt>Lat:</dt>
      <dd id="lat"></dd>
      <dt>Alt:</dt>
      <dd id="alt"></dd>
      <dt>Dilution:</dt>
      <dd id="gps_dil"></dd>
      
      <hr/>
      
      <dt>Pitch:</dt>
      <dd id="O_P"></dd>
      <dt>Roll:</dt>
      <dd id="O_R"></dd>
      <dt>Yaw:</dt>
      <dd id="O_Y"></dd>

      <dt>Temp1:</dt>
      <dd id="temp1"></dd>
      <dt>Temp2:</dt>
      <dd id="temp2"></dd>
    </dl>

    </dl>
  </div>