<div>

    <div class="row">
        <h4>Pitch adjust</h4>
        <form role="form" class="form-inline" action="/postCommand" method="post">
            <div class="form-group">
                <label for="pitch">Desired Pitch</label>
                <input type="number" max="0" min="-90" class="form-control" name="pitch" id="pitch" placeholder="-30">
            </div>
            <button type="submit" id="pitch_submit" class="btn btn-primary">Update pitch</button>
        </form>
    </div>

    <hr/>
    
    <div class="row">
        <h4>State change</h4>
        <form role="form" class="form-inline" action="/postCommand" method="post">
            <div class="form-group">
                <label for="pitch">New State</label>
                <select class="form-control" name="select_state" id="select_state">
                    <option>HEALTH_CHECK</option>
                    <option>ASCENT</option>
                    <option>RELEASE</option>
                    <option>FLIGHT</option>
                    <option>PARACHUTE</option>
                    <option>RECOVER</option>
                </select>
            </div>
            <button type="submit" id="state_submit" class="btn btn-primary">Update state</button>
        </form>
    </div>

<hr/>
    
    <div class="row">
        <h4>Update turn severity</h4>
        <form role="form" class="form-inline" action="/postCommand" method="post">
            <div class="form-group">
                <label for="pitch">New severity</label>
                <input type="number" min=".1" max="5" step=".1" class="form-control" name="severity" id="severity" placeholder="1">
            </div>
            <button type="submit" id="state_submit" class="btn btn-primary">Update severity</button>
        </form>
    </div>

<hr/>
    
    <div class="row">
        <h4>Update destination</h4>
        <form role="form" class="form-inline" action="/postCommand" method="post">
            <div class="form-group">
                <label for="pitch">Longitude</label>
                <input type="number" step="0.0000001" class="form-control" name="lon" id="lon_input">
            </div>
            <div class="form-group">
                <label for="pitch">Lattitude</label>
                <input type="number" step="0.0000001" class="form-control" name="lat" id="lat_input">
            </div>
            <button type="submit" id="state_submit" class="btn btn-primary">Update destination</button>
        </form>
    </div>

<hr/>

    <div class="row">
        <h4>Request Image</h4>
        <form role="form" class="form-inline" action="/postCommand" method="post">
            <div class="form-group">
                <input type="number" class="form-control" name="image" id="image" value="-1">
            </div>
            <button type="submit" id="state_submit" class="btn btn-primary">Request Image</button>
        </form>
    </div>

<hr/>
</div>
