{% extends "base.html" %}

{% block main %}
    <div class="col-md-12">
      <div class="bs-example bs-example-tabs" data-example-id="togglable-tabs">
        
        <ul id="gliderTabs" class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <a href="#glider" id="glider-tab" role="tab" data-toggle="tab" aria-controls="glider" aria-expanded="true">Glider</a>
          </li>
          <li role="presentation" class="">
            <a href="#command" role="tab" id="command-tab" data-toggle="tab" aria-controls="command" aria-expanded="false">Command</a>
          </li>
          <li role="presentation" class="">
            <a href="#image_display" role="tab" id="image_display-tab" data-toggle="tab" aria-controls="image_display" aria-expanded="false">Glider Images</a>
          </li>
        </ul>

        <div id="gliderTabContent" class="tab-content">
          <div role="tabpanel" class="tab-pane fade active in embed-responsive embed-responsive-4by3" id="glider" aria-labelledby="glider-tab">
            <div id="glider_div" class="embed-responsive-item">
            </div>
          </div>

          <div role="tabpanel" class="tab-pane fade" id="command" aria-labelledby="command-tab">
            {% include "glider_command.html" %}
          </div>

          <div role="tabpanel" class="tab-pane fade" id="image_display" aria-labelledby="image_display-tab">
            {% include "glider_images.html" %}
          </div>
          
        </div>
      </div>
      
    </div>
{% end %}

{% block sidebar %}
      {% include "glider_telem.html" %}
    
      {% include "glider_wings.html" %}
{% end %}
